In [8]:
import pandas as pd
import numpy as np
import cv2 as cv
from google.colab import drive

In [9]:
drive.mount('/data')

Drive already mounted at /data; to attempt to forcibly remount, call drive.mount("/data", force_remount=True).

In [10]:
data=pd.read_csv('/data/MyDrive/data/credit.csv')

In [11]:
print(data)

                                     Loan ID  \
0       14dd8831-6af5-400b-83ec-68e61888a048
1       4771cc26-131a-45db-b5aa-537ea4ba5342
2       4eed4e6a-aa2f-4c91-8651-ce984ee8fb26
3       77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a
4       d4062e70-befa-4995-8643-a0de73938182
...                                      ...
100509                                   NaN
100510                                   NaN
100511                                   NaN
100512                                   NaN
100513                                   NaN

                                 Customer ID Loan Status  Current Loan Amount  \
0       981165ec-3274-42f5-a3b4-d104041a9ca9  Fully Paid             445412.0
1       2de017a3-2e01-49cb-a581-08169e83be29  Fully Paid             262328.0
2       5efb2b2b-bf11-4dfd-a572-3761a2694725  Fully Paid           99999999.0
3       e777faab-98ae-45af-9a86-7ce5b33b1011  Fully Paid             347666.0
4       81536ad9-5ccf-4eb8-befb-47a4d608658e  Fully Paid             176220.0
...                                      ...         ...                  ...
100509                                   NaN         NaN                  NaN
100510                                   NaN         NaN                  NaN
100511                                   NaN         NaN                  NaN
100512                                   NaN         NaN                  NaN
100513                                   NaN         NaN                  NaN

              Term  Credit Score  Annual Income Years in current job  \
0       Short Term         709.0      1167493.0              8 years
1       Short Term           NaN            NaN            10+ years
2       Short Term         741.0      2231892.0              8 years
3        Long Term         721.0       806949.0              3 years
4       Short Term           NaN            NaN              5 years
...            ...           ...            ...                  ...
100509         NaN           NaN            NaN                  NaN
100510         NaN           NaN            NaN                  NaN
100511         NaN           NaN            NaN                  NaN
100512         NaN           NaN            NaN                  NaN
100513         NaN           NaN            NaN                  NaN

       Home Ownership             Purpose  Monthly Debt  \
0       Home Mortgage   Home Improvements       5214.74
1       Home Mortgage  Debt Consolidation      33295.98
2            Own Home  Debt Consolidation      29200.53
3            Own Home  Debt Consolidation       8741.90
4                Rent  Debt Consolidation      20639.70
...               ...                 ...           ...
100509            NaN                 NaN           NaN
100510            NaN                 NaN           NaN
100511            NaN                 NaN           NaN
100512            NaN                 NaN           NaN
100513            NaN                 NaN           NaN

        Years of Credit History  Months since last delinquent  \
0                          17.2                           NaN
1                          21.1                           8.0
2                          14.9                          29.0
3                          12.0                           NaN
4                           6.1                           NaN
...                         ...                           ...
100509                      NaN                           NaN
100510                      NaN                           NaN
100511                      NaN                           NaN
100512                      NaN                           NaN
100513                      NaN                           NaN

        Number of Open Accounts  Number of Credit Problems  \
0                           6.0                        1.0
1                          35.0                        0.0
2                          18.0                        1.0
3                           9.0                        0.0
4                          15.0                        0.0
...                         ...                        ...
100509                      NaN                        NaN
100510                      NaN                        NaN
100511                      NaN                        NaN
100512                      NaN                        NaN
100513                      NaN                        NaN

        Current Credit Balance  Maximum Open Credit  Bankruptcies  Tax Liens
0                     228190.0             416746.0           1.0        0.0
1                     229976.0             850784.0           0.0        0.0
2                     297996.0             750090.0           0.0        0.0
3                     256329.0             386958.0           0.0        0.0
4                     253460.0             427174.0           0.0        0.0
...                        ...                  ...           ...        ...
100509                     NaN                  NaN           NaN        NaN
100510                     NaN                  NaN           NaN        NaN
100511                     NaN                  NaN           NaN        NaN
100512                     NaN                  NaN           NaN        NaN
100513                     NaN                  NaN           NaN        NaN

[100514 rows x 19 columns]